manifest {
    name            = 'ctropicalis-wgs-pipeline'
    author          = 'Hariprasad'
    description     = 'Reproducible End-to-End Overlapping WGS and Macro-Genomics Pipeline for Candida tropicalis Isolate Cohorts'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.0'
}

// Global default parameters
params {
    // Input Files & Directories
    reads      = "${projectDir}/*_R{1,2}_001.fastq"
    ref_fasta  = "${projectDir}/refs/refs_gatk/ctropicalis_ref.fna"
    ref_gtf    = "${projectDir}/refs/refs_gtf/GCF_000006335.3_ASM633v3_genomic.gtf"
    ref_gff    = "${projectDir}/refs/refs_gtf/GCF_000006335.3_ASM633v3_genomic.gff"
    intervals  = "${projectDir}/refs/refs_gatk/genomic_intervals.list"
    target_genes = "${projectDir}/ref_genes/dna_seq/*_dna.fna"
    
    // Master Consolidated Results Directory
    outdir     = "${projectDir}/master_pipeline_results"
    
    // Resource Limits (Hardcoded safe limits for 16GB Total RAM host)
    max_cores  = 4
    gatk_mem   = "4G"
    jdb_mem    = "12G"
}

// Process Resource Allocation & Publishing Strategy
process {
    executor = 'local'
    
    withName: STAGE_1_FASTP {
        cpus   = params.max_cores
        memory = '2 GB'
        publishDir = [ path: "${params.outdir}/01_fastp_clean", mode: 'copy' ]
    }
    withName: STAGE_2_MAPPING {
        cpus   = params.max_cores
        memory = '4 GB'
        publishDir = [ path: "${params.outdir}/02_mapping_results", mode: 'copy' ]
    }
    withName: STAGE_3A_DEDUPLICATION {
        cpus   = 2
        memory = params.gatk_mem
        publishDir = [ path: "${params.outdir}/03_deduplicated_bams", mode: 'copy' ]
    }
    withName: STAGE_3B_ALIGNMENT_QC {
        cpus   = params.max_cores
        memory = params.gatk_mem
        publishDir = [ path: "${params.outdir}/04_qc_metrics", mode: 'copy' ]
    }
    withName: STAGE_4A_HAPLOTYPE_CALLER {
        cpus   = params.max_cores
        memory = params.gatk_mem
        publishDir = [ path: "${params.outdir}/05_gvcf_outputs", mode: 'copy' ]
    }
    withName: STAGE_4B_JOINT_GENOTYPING {
        cpus   = 2
        memory = params.jdb_mem
        publishDir = [ path: "${params.outdir}/06_joint_raw_vcf", mode: 'copy' ]
    }
    withName: STAGE_4C_INTEGRATED_FILTRATION_CONCAT {
        cpus   = 2
        memory = params.gatk_mem
        publishDir = [ path: "${params.outdir}/06_filtered_variants_integrated", mode: 'copy' ]
    }
    withName: STAGE_5A_TARGET_GENE_EXTRACTION {
        cpus   = 2
        memory = '2 GB'
        publishDir = [ path: "${params.outdir}/09_resistance_variants_extracted", mode: 'copy' ]
    }
    withName: STAGE_5B_CNVKIT_PROFILING {
        cpus   = params.max_cores
        memory = '4 GB'
        publishDir = [ path: "${params.outdir}/07_cnvkit_results", mode: 'copy' ]
    }
}
